<html>
<head>
  <title>Secure Upload Service</title>

  <!-- jQuery -->
  <script src="static/jquery.min.js"></script>

  <!-- bootstrap -->
  <link rel="stylesheet" href="static/bootstrap.min.css">
  <link rel="stylesheet" href="static/bootstrap-theme.min.css">
  <script src="static/bootstrap.min.js"></script>

  <!-- xterm.js -->
  <link rel="stylesheet" href="static/xterm.css">
  <script src="static/xterm.js"></script>

  <!-- socket.io -->
  <script src="static/socket.io.js"></script>
</head>

<body>
  <div class="container">
    <h1>Upload a firmware file</h1>

    <div class="form-group">
      <label for="filebox">File:</label><input type="file" id="filebox"><br>
      <button type="button" id="uploadbtn" class="btn btn-success">Upload</button>
    </div>
    <br>

    <div id=message></div>
  </div>

  <div class="container-fluid">
    <div id="terminal" style="max-width: 780px; margin-left: auto; margin-right: auto; border:10px solid black"></div>
    <script>
      var term = new Terminal();
      term.open(document.getElementById("terminal"));

      var socket = io.connect();
      var update_interval;

      socket.on("start-session", function() {
        term.reset();
        clearInterval(update_interval);
        update_interval = setInterval(function() {
          socket.emit("update");
        }, 200);
      });

      socket.on("stop-session", function() {
        clearInterval(update_interval);
      });

      socket.on("console", function(msg) {
        term.write(msg);
      });

      socket.on("disconnect", function() {
        clearInterval(update_interval);
        socket.close()
      });

      $("#uploadbtn").click(function() {
        var files = $("#filebox")[0].files;
        if (files.length == 0) {
            $("#message").removeClass();
            $("#message").addClass("alert alert-danger");
            $("#message").text("No file selected");
            return;
        }

        if (files[0].size > 1024 * 1024) {
            $("#message").removeClass();
            $("#message").addClass("alert alert-danger");
            $("#message").text("File too large (max size: 1MB)");
            return;
        }

        var reader = new FileReader();
        reader.onload = (function(e) {
          socket.emit("upload", reader.result);
          $("#message").text("Uploaded \"" + files[0].name + "\" (" + files[0].size + " bytes)");
        });

        $("#message").removeClass()
        $("#message").addClass("alert alert-success");
        $("#message").text("Uploading \"" + files[0].name + "\" (" + files[0].size + " bytes)");

        reader.readAsArrayBuffer(files[0])
      });
    </script>
  </div>
</body>
</html>
